extends layout

block content
  #myCarousel.carousel.slide(data_bs-ride = "carousel")
    .carousel-indicators
      button(type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
      button(type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2")
      button(type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3") 
    .carousel-inner 
      .carousel-item.active 
        img.bd-placeholder-img(width="100%" height="100%" src="https://i.ibb.co/crTjYPR/reactstatemanagement.png" alt="sd")
        .container 
          .carousel-caption.text-start 
            h1 React State Management
            p Modern web applications demand efficient and easy-to-use state management solutions that don't compromise on flexibility or performance
            p 
              a.btn.btn-lg.btn-primary(href="./courseview/ZustandReactStateManagement") View
      .carousel-item 
        img.bd-placeholder-img(width="100%" height="100%" src="https://i.ibb.co/kJK6fB1/cpp31.png" alt="sd")
        .container 
          .carousel-caption.text-start 
            h1 Learn C/C++
            p This course provide wide variety of C/C++ tutorials
            p
              a(class="btn btn-lg btn-primary" href="#") View
      .carousel-item 
        img.bd-placeholder-img(width="100%" height="100%" src="https://i.ibb.co/9skXNV8/golang.png" alt="sd")
        .container 
          .carousel-caption.text-start 
            h1.fontblack learn Go lang in 7hrs
            p.fontblack by Freecode camp
            p
              a(class="btn btn-lg btn-primary" href="./courseview/LearnGoProgramming") View
      button.carousel-control-prev(type="button" data-bs-target="#myCarousel" data-bs-slide="prev")
        span.carousel-control-prev-icon(aria-hidden = "true")
        span.visually-hidden Previous 
      button.carousel-control-next(type="button" data-bs-target="#myCarousel" data-bs-slide="next")
        span.carousel-control-next-icon(aria-hidden = "true")
        span.visually-hidden Next 
  .album.py-5.bg-body-tertiary 
    .container 
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3 
        each thumbnails in thumbnail
          .col 
            -var maxres = function(text){return text.replace(/hqdefault.jpg/g, "maxresdefault.jpg")}
            .card.shadow-sm 
              img.bd-placeholder-img.rounded.image-thumbnail(width="100%" height="100%" src= youtubetoembed(thumbnails.thumbnail) alt="sd")
              .card-body 
                p.card-text= thumbnails.name
                p.small by #{thumbnails.author}
                p.card-text= thumbnails.disc
                .d-flex.justify-content-between.align-items-center
                  .btn-group 
                    a.btn.btn-sm.btn-outline-secondary(href= "/courseview/" + thumbnails.name role="button" aria-disabled="true") View
                  small.text-body-secondary #{thumbnails.hour} hrs | #{thumbnails.num} Videos